
lib/datasets/cifar-10-batches-py/batches.meta
lib/datasets/.DS_Store
lib/datasets/cifar-10-batches-py/data_batch_1
lib/datasets/cifar-10-batches-py/data_batch_4
lib/datasets/cifar-10-batches-py/readme.html
lib/datasets/cifar-10-batches-py/data_batch_3
lib/datasets/cifar-10-batches-py/data_batch_2
lib/datasets/cifar-10-batches-py/data_batch_5
lib/datasets/cifar-10-batches-py/test_batch
